/*.col-sm-4 {
    border-radius: .5rem;
    padding: 5px;
    height: 100%;
}

.img-fluid {
    height: 100%;
    width: 100%;
}

.skills-container {
    margin-left: auto;
    margin-right: auto;
}

.skills-row {
    margin-left: 10px;
}*/

.footer a {
    margin-right: 10px;
}

.nav {
    font-size: 20px;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

ul {
  list-style-type: none;
}

.card-img-top {
    width: 100%;
}