.col-sm-4 {
    border-radius: .5rem;
    padding: 5px;
    height: 100%;
}

.img-fluid {
    height: 100%;
    width: 100%;
}

.skills-container {
    margin-left: auto;
    margin-right: auto;
}

.skills-row {
    margin-left: 10px;
}

.social-links a {
    margin-right: 10px;
}

ul {
  list-style-type: none;
}


.footer {
    position: fixed;
    bottom: 0;
    width: 50%;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
