.skills-container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.default {
    border-radius: .5rem;
    padding: 5px;
    height: 100%;
    border: 2px solid red;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 50%;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
